.DS_Store
Field_Theory.log
Field_Theory.pdf
\.tmp.driveupload
index.html

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bcf
*.run.xml
*.synctex.gz